<div class="col-md-4 mt-5" *ngFor="let item of items">
    <!-- Card -->
    <div class="card text-center">
      <!-- Card image -->
      <img class="card-img-top" [src]="item.urlLogo" alt="">
      <!-- Card content -->
      <div class="card-body">
        <!-- Title -->
        <h4 class="card-title"><a>{{item.nombre}}</a></h4>
  
        <div class="form-grup">
          <!-- <a routerLink="/tienda/item.id" class="btn btn-primary btn-block">Abrir</a>
          <a routerLink="" class="btn btn-info"><i class="far fa-edit"></i></a>
          <a routerLink="" class="btn btn-danger"><i class="fas fa-trash"></i></a> -->
  
        </div>
      </div>
      <script>
      console.log('{{item.id}}');
      </script>
  </div>